/**
 * SSC Services
 * by Souparno Daripa
 */



body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-size: 14px;
	line-height: 1.6;
}
h1,
h2,
h3 {
	font-family: 'loveloblack';
}
.btn-default{
	color: #666;
}
.btn-default:hover {
	border-color: #ccc;
	color: #666;
}

/* ==========================================================================
   Header style
   ========================================================================== */

.ssc-header{
	color: #fff;
	min-height: 592px;
}

.ssc-color-overlay{
	background: rgba(0, 0, 0, 0.05);
	min-height: 592px;
	/*background-image: url(../img/pattern.png);*/
}

.top-menu {
  background: rgba(0, 0, 0, 0.55);
  margin-top: 2em;
  padding: 1em 0 0.3em 0;
}
.top-menu ul{
	right: 0;
}
.top-menu ul li {
  display: inline-block;
  margin: 0.5em 1em;
}
.top-menu ul li a {
  font-size:1.2em;
  color:#fff;
  text-decoration:none;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  }
.top-menu ul li a:hover {
  border-bottom: 5px solid #fff;
}
.top-menu ul li a.active {
  border-bottom: 5px solid #fff;
}
span.menu {
  display: none;
}

.ssc-logo{
	margin-top:7em;
}

@media (min-width: 991px) {
	.ssc-title{
		font-size: 60px;
		margin-bottom: 50px;
	}
}
@media (max-width: 990px) {
	.ssc-title{
		font-size: 40px;
		margin-bottom: 50px;
	}
}
@media (max-width: 500px) {
	.ssc-title{
		font-size: 36px;
		margin-bottom: 50px;
	}
}


.banner{
  background: url(../img/banner1.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 664px;
}
.banner.banner-nav {
  min-height: 125px;
}

.aboutus, .events, .menu, .gallery, .contact {
  padding: 1em 0;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}


/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .tab-wrap .media .parrent.pull-left{
    clear: both !important;
    width: 100% !important; 
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */

  .tab-wrap .media .parrent.pull-left{
    clear: both !important;
    width: 100% !important;
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }
}

@media (max-width: 767px) {
  .tab-wrap .media .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .media-body{
    clear: both;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }
}

.tab-content .item{
	width: 100%;
	height: 70px;
	margin-bottom: 15px; 
	position: relative;
  	padding: 1em;
}

#category1 .item, #category12 .item, #category14 .item {
  background-color: #7A0315;
}
#category2 .item, #category7 .item, #category10 .item, #category15 .item {
  background-color: #3BA820;
}
#category3 .item, #category9 .item {
  background-color: #DE2528;
}
#category4 .item, #category6 .item, #category13 .item {
  background-color: #F0B80E;
}
#category5 .item, #category8 .item, #category11 .item, #category17 .item {
  background-color: #C74A22;
}
#category16 .item, #category18 .item {
  background-color: #702413;
}

.item p{
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.item .inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #000;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 1.2em 3.7em;
}

.item .overlay .add-choice {
  bottom: 0;
  display: inline-block;
  height: 35px;
  border-radius: 0;
  background: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.item:hover .overlay {
  opacity: 0.8;
}

.choice-box{
	width: 100%;
	border:1px solid #e6e6e6;
	padding: 1.2em;
}

.s-item-box{
	min-width: 0;
	width: auto;
	max-width: 100%;
	height: auto;
	border:1px solid #eee;
	padding: .6em;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08), 0 3px 8px 0 rgba(0, 0, 0, 0.07) !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08), 0 3px 8px 0 rgba(0, 0, 0, 0.07) !important;
}
.right{
	float: right;
	cursor: pointer;
}
span.right:hover{
	color: red;
}
.continue{
	margin-top: 35px;
	text-transform: uppercase;
}
.ajax-loader img{
  margin-top: 25%;
  margin-bottom: 75%;
  margin-left: 45%;
  height: 32px !important;
  width: 32px !important;
}
.menu-selected{
	background-image: url(../img/menu-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	border:1px solid #e5e5e5;
	margin: 3em;
	color: #fafafa;
	padding-bottom: 12em;
}
.menu-selected h2{
	margin-top: 3em;
	margin-bottom: 1.5em;
	color: #fff;
}
@media(min-width: 787px){
	.menu-selected{
		margin-left:20%;
		margin-right: 20%;
	}
}
section{
	background-color: rgba(0,0,0,0.02);
}
ol#event-list li{
	font-size: 1.2em;
	font-weight: 600;
}
.btn-ctn{
	margin-top: 2em;
	background-color: #000;
	color: #fafafa;
	padding: 0.5em 4em;
	text-transform: uppercase;
}
.btn-ctn:hover{
	color: #DBDBDB;
}

.gmap-area {
  width: 100%;
  height: auto;
}

.gmap{
    border: 10px solid #f6f5f0;
    height: 350px;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.gmap a:hover, .gmap a:active{
	text-decoration: none;
}

.center{
	text-align: center;
}

.thumb{
	margin-bottom: 30px;
}
span.req{
	color: red;
}
.thank-box{
	padding: 1em;
	text-align: center;
	-webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 15px 0 rgba(0, 0, 0, 0.07) !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 15px 0 rgba(0, 0, 0, 0.07) !important;
}
.message{
	margin: 40px 0px;
}
.message h2{
	text-align: center;
}
.address p{
	font-size: 1.2em;
	margin: 2em 0.5em;
}
.footer{
	padding-top: 13px;
	padding-bottom: 5px;
	background-color: #000;
	bottom: 0;
}
.footer p{
	text-align: center;
}